.header {
    margin: 0 auto;
    background-color: #000;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow: hidden;
}

.header_logo-div {
    width: 24%;
    margin-left: 2%;
}

.header_logo {
    height: 40px;
    width: auto;
    max-width: 300px;
    min-width: 140px;
    object-fit: contain;
}

.header_logo-link {
    display: flex;
    flex-shrink: 1;
    min-width: 0;
}

.header_form {
    display: flex;
    flex: 1;
    min-width: 140px;
    max-width: 600px;
    width: 34%;
    margin-left: 3%;
    margin-right: 3%;
    box-sizing: border-box;
}

.header_input {
    width: 100%;
    height: 40px;
    font-size: 20px;
    padding: 0 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 2px;
    outline: none;
}

.header_logout {
    background: none;
    border: none;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    white-space: nowrap;
    margin-right: 8px;
}

.header_mypage {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    white-space: nowrap;
    margin-right: 12px;
}

.header_listing {
    margin-right: 2%;
    text-decoration: none;
    border-radius: 2px;
    background-color: #fff;
    color: #000;
    font-size: 22px;
    width: 86px;
    min-width: 86px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}



@media screen and (max-width: 1024px) {
    .header {
        height: 40px;
    }

    .header_logo-div {
        width: 20%;
        margin-left: 3%;
    }

    .header_logo {
        width: 200px;
    }

    .header_form {
        width: 30%;
        padding-left: 2%;
        padding-right: 2%;
    }

    .header_input {
        min-width: 200px;
        height: 28px;
        font-size: 16px;
        padding: 0 10px;
    }

    .header_logout {
        font-size: 16px;
        margin-right: 5px;
    }

    .header_mypage {
        font-size: 16px;
        margin-right: 14px;
    }

    .header_listing {
        margin-right: 3%;
        font-size: 18px;
        width: 60px;
        min-width: 60px;
        height: 30px;
    }
}