.content {
    text-align: center;
    margin: 180px 0px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 60px;
}

.certification {
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    color: #000;
    background-color: #d9d9d9;
    padding: 14px 20px;
    text-decoration: none;
    border: 1px solid #000;
    border-radius: 5px;
    white-space: nowrap;
    margin-bottom: 60px;
}

.resend {
    color: #0774cc;
    font-size: 18px;
    text-decoration: none;
    background: none;
    border: none;
}

@media screen and (max-width: 1024px) {
    .text {
        font-size: 18px;
    }

    .certification {
        font-size: 16px;
    }

    .resend {
        font-size: 16px;
    }

}