.sub_header {
    margin: 0 auto;
    height: 66px;
    border-bottom: 1px solid #000;
    display: flex;
    align-items: flex-end;
    padding: 0px 0px 20px 160px;
}

.sub_header-button {
    text-decoration: none;
    color: #5f5f5f;
    font-weight: bold;
    font-size: 22px;
    white-space: nowrap;
    margin-right:120px;
}

.button-active {
    color: #fd0200;
}

.list {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 30px 20px;
}

.list_item {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list_item-size {
    position: relative;
    margin-top: 10%;
    width: 80%;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    overflow: hidden;
}

.is_sold::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 40%;
    background: #fd0200;
    clip-path: polygon(0 0, 100% 0, 0 100%);
    z-index: 2;
}

.sold-text {
    position: absolute;
    top: 10%;
    left: 3%;
    transform: rotate(-45deg);
    color: #fff;
    font-weight: bold;
    font-size: 1.5vw;
    z-index: 3;
}

.list_item-link {
    display: flex;
    text-decoration: none;
    color: #000;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.list_item-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.list_name-size {
    width: 80%;
}

.list_item-name {
    display: flex;
    text-decoration: none;
    color: #000;
    font-size: 24px;
    word-break: break-word;
    text-align: left;
    white-space: normal;
}


@media screen and (max-width: 1024px) {
    .sub_header {
        height: 50px;
        padding: 0px 0px 20px 80px;
    }

    .sub_header-button {
        font-weight: bold;
        font-size: 18px;
        margin-right: 60px;
    }

    .list_item-name {
        font-size: 18px;
    }
}