.sub_header {
    margin: 0 auto;
    height: auto;
    border-bottom: 1px solid #000;
    padding: 0 10% 10px;
}

.profile {
    display: flex;
    align-items: center;
    margin: 60px 0;
}

.profile_image-div {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: #d9d9d9;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    flex-shrink: 0;
}

.profile_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile_name {
    font-weight: bolder;
    font-size: 32px;
    margin-left: 10%;
    margin-right: 10%;
    overflow-wrap: break-word;
}

.profile_button {
    padding: 10px 18px;
    background-color: #fff;
    color: #fd5555;
    text-decoration: none;
    border: 1.5px solid #fd5555;
    border-radius: 6px;
    font-size: 22px;
    white-space: nowrap;
    margin-left: auto;
}

.tab_button {
    text-decoration: none;
    color: #5f5f5f;
    font-weight: bold;
    font-size: 22px;
    white-space: nowrap;
    margin-right: 80px;
}

.button-active {
    color: #fd0200;
}

.list {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 30px 20px;
}

.list_item {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list_item-size {
    margin-top: 10%;
    width: 80%;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
}

.list_item-link {
    display: flex;
    text-decoration: none;
    color: #000;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.list_item-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.is_sold::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 40%;
    background: #fd0200;
    clip-path: polygon(0 0, 100% 0, 0 100%);
    z-index: 2;
}

.sold-text {
    position: absolute;
    top: 10%;
    left: 3%;
    transform: rotate(-45deg);
    color: #fff;
    font-weight: bold;
    font-size: 1.5vw;
    z-index: 3;
}

.list_name-size {
    width: 80%;
}

.list_item-name {
    display: flex;
    text-decoration: none;
    color: #000;
    font-size: 24px;
    word-break: break-word;
    text-align: left;
    white-space: normal;
}

@media screen and (max-width: 1024px) {
    .profile_image-div {
        width: 140px;
        height: 140px;
        margin-left: 4%;
    }

    .profile_name {
        font-weight: bold;
        font-size: 24px;
        margin-left: 6%;
        margin-right: 4%;
    }

    .profile_button {
        padding: 8px 14px;
        border-radius: 6px;
        font-size: 18px;
    }
    .tab_button {
        font-size: 18px;
        margin-right: 60px;
    }

    .list_item-name {
        font-size: 18px;
    }
}